streamlit
google-generativeai
beautifulsoup4
requests
wikipedia
nltk
torch
spacy
textstat
pycryptodome
textwrap3
bs4
docx
python-dotenv
pypdf2
textract
pandas
numpy
textstat
google
transformers